asgiref==3.7.2
astroid==3.1.0
dill==0.3.8
Django==4.2.11
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-filter==24.1
djangorestframework==3.14.0
drf-nested-routers==0.93.5
isort==5.13.2
mccabe==0.7.0
mysqlclient==2.2.4
platformdirs==4.2.0
pylint==3.1.0
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pytz==2024.1
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.10.0
